{% extends 'products/base.html' %}

{% block content %}
<h1>Astra products</h1>
  <div>
    <ul>
      <li><a href="{% url 'task1' %}">Task 1</a></li>
      <li><a href="{% url 'task2' %}">Task 2</a></li>
      <li><a href="{% url 'task3' %}">Task 3</a></li>
    </ul>
  </div>

  {{context}}
  
  {% if task %}
    <h2>{{task}}</h2>
    
    {% if total_sum %}
      <div>There are {{total_sum}} products.</div>
    {% endif %}

    {% if products %}
      <ul>
      {% for product in products %}
        <li> {{product.name}}
            {% if product.assembly_parts %} –
              {% for assembly_part in product.assembly_parts %}
                {{assembly_part}}{% if not forloop.last %},{% endif %}
              {% endfor %}
            {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock content %}
